/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Georgia', serif;
  color: #fff;
  background: linear-gradient(to bottom, #f8c8dc, #f2a7c2);
  overflow-x: hidden;
  text-align: center;
}

/* Hero Section */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #ff69b4, #ff85c1);
}

.hero-image {
  max-width: 80%;
  margin-bottom: 20px;
  border-radius: 20px;
}
